@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --clr-neutral-100: #fff;
    --clr-neutral-600: #929292;
    --clr-neutral-900: #000;

    --clr-primary-100: #e36d63;

    --ff-primary: 'Montserrat', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 200;
    --fw-medium: 400;
    --fw-bold: 600;

    --fs-100: 14px;
    --fs-200: 20px;
    --fs-300: 40px;
    --fs-400: 80px;

    --fs-body: var(--fs-100);
    --fs-primary-heading: var(--fs-300);
    --fs-secondary-heading: var(--fs-200);
    --fs-tertiary-heading: var(--fs-100);
    --fs-nav: var(--fs-100);
    --fs-button: var(--fs-200);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background-color: var(--clr-neutral-900);
    font-family: var(--ff-primary);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
}


/* Utility classes */
.text-neutral-100 {
    color: var(--clr-neutral-100);
}
.text-neutral-200 {
    color: var(--clr-neutral-600);
}
.text-neutral-300 {
    color: var(--clr-neutral-900);
}
.text-primary-100 {
    color: var(--clr-primary-100);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}
.bg-neutral-600 {
    background-color: var(--clr-neutral-600);
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}
.fs-tertiary-heading {
    font-size: var(--fs-tertiary-heading);
}

.fs-100 { 
    font-size: var(--fs-100);
}
.fs-200 { 
    font-size: var(--fs-200);
}
.fs-300 { 
    font-size: var(--fs-300);
}
.fs-400 { 
    font-size: var(--fs-400);
}

.fw-light {
    font-weight: var(--fw-light);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}


/* Styling */
.container {
    --max-width: 1500px;
    --padding: 3rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.todo-list-wrapper {
    margin: 5rem;
}

.todo-list-wrapper h1 {
    color: var(--clr-neutral-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    text-align: center;
    margin-bottom: 5rem;
}

@media (max-width: 850px) {
    .todo-list-wrapper h1 {
        font-size: var(--fs-300);
        margin-bottom: 3rem;
    }
}

.todo-grid,
.input-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.date-container {
    position: relative;
}

.date-container input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.date-container::after {
    content: "\1F4C5";
    position: absolute;
    right: 1rem;
    top: 30%;
    pointer-events: none;
}

@media (max-width: 850px) {
    .todo-grid,
    .input-grid {   
        grid-template-columns: repeat(1, 1fr);
    }
}

.input-grid {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="date"],
textarea {
    padding: 1rem;
    border: solid 1px var(--clr-neutral-100);
    background-color: transparent;
    color: var(--clr-neutral-100);
    align-items: center;
    /* border-radius: 50px; */
}

input:focus,
textarea:focus {
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-100);
}

.add-btn {
    background-color: var(--clr-neutral-100);
    border: none;
    /* border-radius: 50px; */
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    cursor: pointer;
}

@media (max-width: 850px) {
    .add-btn {   
        height: 3.5rem;
    }
}

.item-list {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 1rem;
    font-weight: var(--fw-bold);
    background-color: transparent;
    border: solid 1px var(--clr-neutral-100);
    /* border-radius: 50px; */
    color: var(--clr-neutral-100);
    word-break: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.delete-btn {
    padding: 1rem;
    background-color: transparent;
    border: solid 1px var(--clr-neutral-100);
    /* border-radius: 50px; */
    color: var(--clr-neutral-100);
    cursor: pointer;
}

@media (max-width: 850px) {
    .delete-btn {   
        background-color: var(--clr-neutral-100);
        color: var(--clr-neutral-900);
        font-weight: var(--fw-bold);
    }
}

.js-error-message {
    color: var(--clr-neutral-100);
    text-align: center;
    font-size: var(--fs-100);
    margin-top: 2rem;
}

