@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular_0.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --clr-neutral-100: #fff;
    --clr-neutral-600: #daedeb;
    --clr-neutral-900: #212121;

    --clr-primary-100: #f1571b;

    --ff-primary: 'LEMONMILK', sans-serif;

    --fw-light: 100;
    --fw-medium: 400;
    --fw-bold: 800;

    --fs-100: 14px;
    --fs-200: 20px;
    --fs-300: 60px;
    --fs-400: 80px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background-color: var(--clr-neutral-900);
    font-family: var(--ff-primary);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
}


/* Utility classes */
.text-neutral-100 {
    color: var(--clr-neutral-100);
}
.text-neutral-200 {
    color: var(--clr-neutral-600);
}
.text-neutral-300 {
    color: var(--clr-neutral-900);
}
.text-primary-100 {
    color: var(--clr-primary-100);
}

.fs-100 { 
    font-size: var(--fs-100);
}
.fs-200 { 
    font-size: var(--fs-200);
}
.fs-300 { 
    font-size: var(--fs-300);
}
.fs-400 { 
    font-size: var(--fs-400);
}

.fw-light {
    font-weight: var(--fw-light);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}


/* Styling */
.container {
    --max-width: 1500px;
    --padding: 3rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.todo-list-wrapper {
    margin: 5rem;
}

@media (max-width: 850px) {
    .todo-list-wrapper {
        margin: 2rem;
    }
}

.todo-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.todo-title h1 {
    color: var(--clr-primary-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    text-align: left;
    line-height: 4.5rem;
    margin-bottom: 5rem;
}

.todo-title p {
    color: var(--clr-neutral-600);
    margin-bottom: 5rem;
}

@media (max-width: 850px) {
    .todo-title {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .todo-title h1 {
        font-size: var(--fs-300);
        line-height: 3.5rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .todo-title p {
        margin-bottom: 3rem;
    }
}

.todo-grid,
.input-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 850px) {
    .todo-grid,
    .input-grid {   
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
}

.input-grid {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="date"],
textarea {
    padding: 1rem 2rem;
    border: solid 1px var(--clr-neutral-600);
    border-radius: 30px;
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-900);
    align-items: center;
}

input:focus,
textarea:focus {
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-100);
}

.add-btn {
    background-color: var(--clr-primary-100);
    border: solid 1px var(--clr-primary-100);
    border-radius: 30px;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    cursor: pointer;
}

@media (max-width: 850px) {
    .add-btn {   
        height: 3.5rem;
        grid-column: 1 / span 2;
    }
}

.item-list {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 1rem;
    font-weight: var(--fw-bold);
    background-color: transparent;
    border: solid 1px var(--clr-neutral-600);
    border-radius: 30px;
    color: var(--clr-neutral-600);
    word-break: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.delete-btn {
    padding: 1rem;
    background-color: transparent;
    border: solid 1px var(--clr-neutral-600);
    border-radius: 30px;
    color: var(--clr-neutral-600);
    cursor: pointer;
}

@media (max-width: 850px) {
    .delete-btn {   
        grid-column: 1 / span 2;
        background-color: var(--clr-neutral-600);
        color: var(--clr-neutral-900);
        border: none;
        font-weight: var(--fw-bold);
    }
}

.js-error-message {
    color: var(--clr-neutral-600);
    text-align: center;
    font-size: var(--fs-100);
    margin-top: 2rem;
}

